<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="description" content="SSB Room - setup" />
    <title>SSB Room – setup</title>
    <style>
      html {
        background-color: #f8f9fa;
      }
      body {
        color: #212529;
        font-family: 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: 0.02em;
        padding-top: 30px;
      }
      a {
        color: #4c6ef5;
      }
      footer {
        text-align: center;
        color: #627180;
      }
      section,
      footer {
        box-sizing: border-box;
        max-width: 800px;
        margin: 0 auto;
      }

      svg {
        text-align: center;
      }
      p {
        margin: 0 0 12px;
        line-height: 1.5em;
      }

      section {
        background-color: white;
        border: 1px solid #e9e9e9;
        padding: 20px 30px;
        border-radius: 4px;
        margin: 0 auto 40px;
      }

      .form {
        display: flex;
        flex-direction: column;
      }
      .form * {
        margin-bottom: 10px;
      }
      .shortinput {
        max-width: 150px;
      }
      .submit {
        max-width: 70px;
      }

      @media (max-width: 805px) {
        body {
          margin: 0;
          padding-top: 0;
        }
        section {
          padding: 20px;
          border-radius: 0;
          border-left-width: 0;
          border-right-width: 0;
          border-top-width: 0;
        }
        .or {
          width: 200px;
          height: 60px;
          line-height: 64px;
        }
      }
    </style>
  </head>
  <body>
    <section>
      <div>
        <h2>✨ New room!</h2>
        <p>
          Your SSB room is correctly installed, congratulations!
        </p>
        <p>
          Now, choose a name and a description for this room so that visitors
          know what the room's community is about.
        </p>
        <form
          action="/setup"
          method="get"
          enctype="application/x-www-form-urlencoded"
          class="form"
        >
          <input
            type="text"
            name="name"
            autofocus="true"
            required="true"
            class="shortinput"
            aria-placeholder="A user-friendly name for this room server"
            placeholder="Title"
            width="20"
          />
          <input
            type="text"
            name="description"
            autofocus="true"
            class="longinput"
            aria-placeholder="An optional description of this room server"
            placeholder="(Optional) describe this room"
            width="100"
          />
          <input class="submit" value="Done" type="submit" />
        </form>
      </div>
    </section>
    <footer>
      This web application is
      <a href="https://github.com/staltz/ssb-room">open source software</a>
      distributed under the
      <a href="https://opensource.org/licenses/AGPL-3.0">AGPL-3.0</a> license.
    </footer>
  </body>
</html>
